<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="mailhost" value="https://mail.office365.com/EWS/Exchange.asmx" />
    <add key="mailuser" value="i.tunga@hotmail.com" />
    <add key="mailpass" value="*" />
    <add key="documentpath" value="C:\\mail\\" />
  </appSettings>
</configuration>